{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <div id="stimulus">
            <h1>Click the button</h1>
            <button class="submit-response" value="1" id="submit-one" type="button" class="btn btn-primary">One</button>
            <button class="submit-response" value="2" id="submit-two" type="button" class="btn btn-primary">Two</button>

        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        create_agent();
    </script>
{% endblock %}
